h1{text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;padding: 0px;;}

        div{background-color: rgb(255, 251, 0);text-align: center;padding: 10px 0px;}

        input{background-color: white;color: black;width: 50%;}

        ol{background-color: rgb(255, 0, 0);margin-top: 0px;}

        li{color: white;font-family: cursive;}
        
        ol>button{background-color: white;color: red;}